{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Tweets list
{% endblock title %}

{% block content %}


    <div class="row">

        <div class="col-sm-3">
            <h1>{{ object.tag }}</h1>
        </div>

        <div class="col-sm-9"> 

            {% for tweet in object.get_tweets %}
                {{ tweet.content }} <br>
            {% endfor %}

           
        </div>
    </div>
{% endblock content %}
