{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Create Tweet
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Create tweet</h1>
            {% include "tweets/form.html" with form=form btn_title="Tweet" %}
        </div>
    </div>
{% endblock content %}