{% extends "base.html" %}

{% block title %}
	{{ block.super }} | Really delete {{ object }}?
{% endblock title %}

{% block content %}
	<form action="" method="post">{% csrf_token %}
	    <p>Are you sure you want to delete "{{ object }}"?</p>
	    <input type="submit" value="Confirm" />
	</form>
{% endblock content %}