{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Detail
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-sm-3">
            <h1>{{ object.user }}</h1>
        </div>

        <div class="col-sm-9">
            <p>{{ object.content }}</p>
            <p>{{ object.timespamt|timesince }}</p>
        </div>

        

    </div>
{% endblock content %}