{% load crispy_forms_tags %}
<form {% if form_id %}id="{{ form_id }}"{% endif %} action="{% if action_url %}{{ action_url }}{% endif %}" class="form" method="POST">
	{% csrf_token %}
	
	{{ form|crispy }}

    <input class="btn btn-default" type="submit" value="{{ btn_title }}">
    <span id="tweetCharsLeft"></span>
</form>