{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Tweets list
{% endblock title %}

{% block content %}


    <div class="row">

        <div class="col-sm-3">
            <h1>{{ request.user }}</h1>
        </div>

        <div class="col-sm-9"> 
            {% if not request.GET.q %}
                {% include "tweets/form.html" with form=create_form btn_title="Tweet" action_url=create_url form_id="tweet-form" %}
            {% endif %}


            {% if object_list %}
            <div id="tweet-container">
                
            </div>

            <nav aria-label="Page navigation">
                <button type="button" id="load_more" class="btn btn-success">Load More...</button>
            </nav>


            {% else %}
                
                {% if request.GET.q %}
                <p>No hay resultados</p>
                {% else %}
                <p>Paila</p>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block script %}

    <script>

        var TweetListClass = function() {
            
            var _THIS = this,
                $_TWEET = $('#id_content'),
                $_TWEET_CHARS_LEFT = $('#tweetCharsLeft'),
                $_LOAD_MORE = $('#load_more'),
                _MAX_LENGTH_TWEET = $_TWEET.data('length'),
                _CURR_LENGTH = 0,
                _NEXT_PAGE

            this.init = function(q){
                var q = q || ''
                BindElems()
                _THIS.fetchTweets(q)

                ResetForm()
            }

            this.fetchTweets = function(q){
                var q = q || '',
                    fetchUrl = (typeof _NEXT_PAGE === 'undefined')?"/api/tweet/":_NEXT_PAGE

                $.ajax({
                    url: fetchUrl,
                    data:{
                        q:q
                    },
                    method: "get",
                    success: function(data){
                        finalHtml = CreateTweetHtml(data.results)
                        $('#tweet-container').append(finalHtml)

                        _NEXT_PAGE = data.next
                        if(_NEXT_PAGE == null)
                            $_LOAD_MORE.hide()

                    }, 
                    error: function(data){
                        console.log('error')
                        console.log(data)
                    }
                })

            }

            var BindElems = function(){
                $('#tweet-form').submit(function(e){
                    e.preventDefault()
                    if(_CURR_LENGTH >= 0){
                        SaveTweet($(this))
                    } else {
                        console.log('paila')
                    }
                })

                $_TWEET.keyup(function(e){
                    var tweetValueLen = $(e.currentTarget).val().length
                    _CURR_LENGTH = _MAX_LENGTH_TWEET - tweetValueLen
                    $_TWEET_CHARS_LEFT.text(_CURR_LENGTH)

                    if(_CURR_LENGTH > 0) {
                        $_TWEET_CHARS_LEFT.removeClass('red-text')
                        $_TWEET_CHARS_LEFT.removeClass('grey-text')
                    } else if(_CURR_LENGTH == 0){
                        $_TWEET_CHARS_LEFT.removeClass('red-text')
                        $_TWEET_CHARS_LEFT.addClass('grey-text')
                    } else if(_CURR_LENGTH < 0){
                        $_TWEET_CHARS_LEFT.addClass('red-text')
                        $_TWEET_CHARS_LEFT.removeClass('grey-text')
                    }
                })

                $_LOAD_MORE.on('click', function(e){
                    e.preventDefault()
                    _THIS.fetchTweets()
                })
            }

            var SaveTweet = function($form){
                $.ajax({
                    url: "/api/tweet/create/",
                    data: $form.serialize(),
                    method: "post",
                    success: function(data){
                        finalHtml = CreateTweetHtml(data)
                        $('#tweet-container').prepend(finalHtml)
                        ResetForm($form)
                    }, 
                    error: function(data){
                        console.log('error')
                        console.log(data)
                    }
                })
                
            }

            var CreateTweetHtml = function(data){
                var finalHtml = '';


                function renderTpl(val){

                    var tpl = 'tweet'
                    if(val.parent)
                        tpl = 'retweet'


                    switch (tpl) {
                        case 'retweet':
                            return [    '<hr>',
                                        '<div class="media">',
                                            '<div class="media-body">',
                                                '<h4 class="media-heading">Retweet via '+ val.parent.user.username + ' ' + val.parent.timesince +'</h4>',
                                                '<p>'+val.content+'</p>',
                                                '<p><a href="'+val.user.url+'">via '+val.user.username+'</a> | '+ val.timesince +' | <a href="'+val.tweet_url+'">View</a></p>',
                                            '</div>',
                                        '</div>'
                                ].join(' ')
                        case 'tweet':
                            return [    '<hr>',
                                        '<div class="media">',
                                            '<div class="media-body">',
                                                '<p>'+val.content+'</p>',
                                                '<p><a href="'+val.user.url+'">via '+val.user.username+'</a> | '+ val.timesince +' | <a href="'+val.tweet_url+'">View</a></p>',
                                                '<p><a href="'+val.retweet_url+'">Retweet</a></p>',
                                            '</div>',
                                        '</div>'
                                ].join(' ')
                            break;
                        default:
                            // statements_def
                            break;
                    }
                }

                if(isNaN(data.length)){
                    finalHtml = renderTpl(data)
                } else {
                    $.each(data, function(k, val){
                        finalHtml += renderTpl(val)
                    })
                }

                finalHtml = UpdateHashLinks(finalHtml)

                return finalHtml
            }

            var ResetForm = function($form){
                $_TWEET_CHARS_LEFT.text(_MAX_LENGTH_TWEET)
                if($form){
                    $form.find('input[type="text"], textarea').val('')
                }
            }

            var UpdateHashLinks = function(finalHtml){
                var hashRegex = /#([\w\d-]+)/g
                return finalHtml.replace(hashRegex, "<a href='/tags/$1/'>#$1</a>")
            }
        }


        $(document).ready(function(){
            var objUrl = new URL(window.location.href)
            q = (objUrl.searchParams.get("q") != null)?objUrl.searchParams.get("q"):''
            var appTweetList = new TweetListClass()
            appTweetList.init(q)
        })




    </script>

{% endblock script %}