<form class="navbar-form navbar-left" action="{% url 'tweet:list' %}" method="GET">
    <div class="form-group">
        <input type="text" class="form-control" id="q" name="q" placeholder="Your search" value="{{ request.GET.q }}">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
