{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Tweets list
{% endblock title %}

{% block content %}


    <div class="row">

        <div class="col-sm-3">
            <h1>{{ object.username }}</h1>
            <hr>
            <h2>Followers: {{ object.followed_by.all.count }}</h2>

            <p>
                <a href="{{ object.profile.get_follow_url }}" class="btn btn-link">
                {% if following %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
                </a>
            </p>
        </div>

        <div class="col-sm-9"> 

            <h2>tweets</h2>
            {% for tweet in object.tweet_set.all %}
            
                {{ tweet }} <br>

            {% endfor %}

            <hr>
            <h2>following</h2>
            {% for user in object.profile.get_following %}
                {{ user.username }} <br>
            {% empty %}
                <h4>No following</h4>
            {% endfor %}

            <hr>
            <h2>followed by</h2>
            {% for profile in object.followed_by.all %}
                <a href="{% url "profile:detail" username=profile.user.username %}">{{ profile.user.username }}</a><br>
            {% empty %}
                <h4>No followed</h4>
            {% endfor %}


        </div>
    </div>
{% endblock content %}

